body {
/*	color: #333;*/
	max-width: 600px;
	margin: 0 auto;
/*	position: relative;*/
	font-family: 'VT323', monospace;
}

h1 {
	margin: 0;
	font-size: 32px;
	font-family: 'M PLUS 1p', sans-serif;
}

#loadingMessage {
	padding: 20px 0;
	text-align: left;
	font-size: 24px;
	font-family: 'M PLUS 1p', sans-serif;
	background-color: #ddd;
}

#canvas {
	width: 100%;
}

#output {
	margin-top: 10px;
	padding: 10px 0;
	font-family: 'VT323', monospace;
	font-family: 'M PLUS 1p', sans-serif;
	background: #ddd;
}

#output div {
/*
	padding-bottom: 10px;
*/
	word-wrap: break-word;
}

#noQRFound {
	font-size: 24px;
	font-family: 'M PLUS 1p', sans-serif;
	text-align: left;
}

#nextActivity {
	position: absolute;
	margin: 0;
	background-color: #000;
	opacity: 0.5;
}

#qrCanvas {
	position: absolute;
	top 0;
	left 0;
}

.nextActLink {
	background-color: blue;
	color : white;
}
	
#qrCanvasContainer {
	position: relative;
}




